<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="main">
  <div id="header" th:fragment="header">
    <span><b>SKI SERVICE</b></span>
  </div>
  <div id="menu" th:fragment="menu">
    <ul>
      <li>
        <a th:href="@{/}">Strona główna</a>
      </li>
      <li sec:authorize="!isAuthenticated()">
        <a th:href="@{/adduser}">Zarejestruj się</a>
      </li>
      <li sec:authorize="!isAuthenticated()">
<!--        <<form th:action="@{/login}" method="get">-->
<!--          <input type="submit" value="Zaloguj" />-->
<!--        </form>>-->
        <a th:href="@{/login}">Zaloguj się</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/profile(id=${currentUser.id})}">Profil</a>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/adminpage}">Panel administracyjny</a>
      </li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Wyloguj" />
            </form>
        </li>
    </ul>
  </div>
  <div id="content" th:fragment="content">
    <ul th:each="user : ${userList}">
      <li th:object="${user}">
        <span th:text="*{username}"></span>,
        <span th:text="*{firstname}"></span>,
        <span th:text="*{lastname}"></span>,
        <span th:text="*{address.country}"></span>,
        <span th:text="*{address.city}"></span>,
        <span th:text="*{address.streetName}"></span>,
        <span th:text="*{address.streetNumber}"></span>,
        <span th:text="*{address.postalCode}"></span>,
      </li>
    </ul>
  </div>
</div>
</body>
</html>