<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="main">
  <div id="header" th:fragment="header">
    <h4 th:inline="text">
      Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!
    </h4>
  </div>
  <div id="menu" th:fragment="menu">
    <ul>
      <li>
        <a th:href="@{/adduser}">Dodaj użytkownika</a>
      </li>
      <li>
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Wyloguj" />
        </form>
      </li>
      <li>
        <form th:action="@{/login}" method="post">
          <input type="submit" value="Zaloguj" />
        </form>
      </li>
    </ul>
  </div>
  <div id="content" th:fragment="content">
    <ul th:each="user : ${userList}">
      <li th:object="${user}">
        <span th:text="*{username}"></span>,
        <span th:text="*{firstname}"></span>,
        <span th:text="*{lastname}"></span>,
        <span th:text="*{address.country}"></span>,
        <span th:text="*{address.city}"></span>,
        <span th:text="*{address.streetName}"></span>,
        <span th:text="*{address.streetNumber}"></span>,
        <span th:text="*{address.postalCode}"></span>,
      </li>
    </ul>
  </div>
</div>
</body>
</html>