@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Unbounded:wght@400;500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);;
}

#header {
    background-color: rgb(28, 145, 255);
    width: 100%;
    height: 3ex;
    position: fixed;
    top: 0;
    overflow: hidden;
    color: white;
    font-size: 7ex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Unbounded', cursive;
}

#menu {
    background-color: rgb(230, 230, 230);
    width: 15%;
    height: 65%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    left: 0;
    top: 12ex;
    overflow: hidden;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 3ex;
    color: black;
}

#menu a {
    padding-top: 1.5ex;
    padding-bottom: 1.5ex;
    color: black;
    display: block;
    width: 100%;
    text-decoration: none;
}

#menu a:hover, #menu input:hover {
    background-color: rgb(200, 200, 200);
}

#menu input {
     background-color: rgb(230, 230, 230);
     border: none;
     padding-top: 1.5ex;
     padding-bottom: 1.5ex;
     width: 100%;
     height: 100%;
     font-size: 2ex;
     display: inline-block;
     cursor: pointer;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content {
    margin-top: 10.5ex;
    margin-left: 15%;
    padding: 2%;
    background-color: snow;
    /* border: 2px solid black; */
    min-height: 81.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* height: auto; */
}

#content #itemgrid {
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(5, 1fr); */
    gap: 20px 20px;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

#content #itemgrid .itemcontainer {
    border: 3px solid black;
    border-radius: 30px; 
    justify-self: stretch;
    width: 350px;
    height: 200px;
    font-size: 2ex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 2.5ex;
    /* padding: 10px; */
}

#content #itemgrid .itemcontainer .textcontainer {
    width: 100%;
    /* padding: 10px; */
}

#content #itemgrid .itemcontainer a, #content #itemgrid .itemcontainer #a {
    /* align-self: flex-end; */
    border: 2px solid black;
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    background-color: rgb(230, 230, 230);
    color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#content #itemgrid .itemcontainer #a {
    background-color: red;
    color: white;
}

#content #itemgrid .itemcontainer a:hover {
    background-color: rgb(200, 200, 200);
}

#content #filter {
    margin-bottom:  5ex;
}

/* #content #signup {

} */

.validationError {
    color: red;
}

#content #signup input, #content #itemform input, #content #itemform select {
    margin-top: 1ex;
    height: 2.5ex;
    font-size: 2.5ex;
}

.profile {
    line-height: 3ex;
}

.adminpage {
    display: flex;
}

.adminpage a {
    display: flex;
    border: 3px solid black;
    border-radius: 20px;
    width: 300px;
    height: 75px;
    font-size: 3ex;
    text-decoration: none;
    background-color: rgb(230, 230, 230);;;
    color: black;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
}

.adminpage a:hover {
    background-color: rgb(200, 200, 200);
}