<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Nowy użytkownik</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="main">
    <div id="header" th:replace="fragments/layout :: header"></div>
    <div id="menu" th:replace="fragments/layout :: menu"></div>
    <div id="content">
        <form method="POST" th:action="@{${action}}" th:object="${userToAdd}" id="signup">
            <fieldset>
                <legend th:text="${isEditForm} == null ? 'Rejestracja' : 'Edytuj profil'"></legend>
            <input th:if="${isEditForm} == null" type="text" th:field="*{username}" placeholder="Nazwa użytkownika"/>
                <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}">Błąd
    </span>
            <span class="validationError"
                  th:if="${userExists}">Użytkownik o podanej nazwie już istnieje
    </span>
            <br th:if="${isEditForm} == null">
            <input th:if="${isEditForm} == null" type="password" th:field="*{password}" placeholder="Hasło"/>
                <br th:if="${isEditForm} == null">
                <span class="validationError"
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}">Błąd
    </span>
            <br th:if="${isEditForm} == null">
            <input type="text" th:field="*{firstname}" placeholder="Imię"/>
                <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('firstname')}"
                  th:errors="*{firstname}">Błąd
    </span>
            <br>
            <input type="text" th:field="*{lastname}" placeholder="Nazwisko"/>
                <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('lastname')}"
                  th:errors="*{lastname}">Błąd
    </span>
            <br>
            <input type="text" th:field="*{phoneNumber}" placeholder="Numer telefonu"/>
                <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('phoneNumber')}"
                  th:errors="*{phoneNumber}">Błąd
    </span>
            <br>
                <input type="text" th:field="*{pesel}" placeholder="PESEL"/>
                <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('pesel')}"
                  th:errors="*{pesel}">Błąd
    </span>
            <br>
            <input type="text" th:field="*{address.country}" placeholder="Kraj"/>
                <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('address.country')}"
                  th:errors="*{address.country}">Błąd
    </span>
            <br>
            <input type="text" th:field="*{address.city}" placeholder="Miejscowość"/>
                <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('address.city')}"
                  th:errors="*{address.city}">Błąd
    </span>
            <br>
            <input type="text" th:field="*{address.streetName}" placeholder="Ulica"/>
                <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('address.streetName')}"
                  th:errors="*{address.streetName}">Błąd
    </span>
            <br>
            <input type="text" th:field="*{address.streetNumber}" placeholder="Numer ulicy"/>
                <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('address.streetNumber')}"
                  th:errors="*{address.streetNumber}">Błąd
    </span>
            <br>
            <input type="text" th:field="*{address.apartmentNumber}" placeholder="Numer mieszkania (opcjonalne)"/>
                <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('address.apartmentNumber')}"
                  th:errors="*{address.apartmentNumber}">Błąd
    </span>
            <br>
            <input type="text" th:field="*{address.postalCode}" placeholder="Kod pocztowy"/>
                <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('address.postalCode')}"
                  th:errors="*{address.postalCode}">Błąd
    </span>
            <br>
            <input type="submit" th:value="${isEditForm} == null ? 'Zarejestruj się' : 'Zapisz'"/>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>