<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="main">
    <div id="header" th:replace="fragments/layout :: header"></div>
    <div id="menu" th:replace="fragments/layout :: menu"></div>
    <div id="content">
        <form method="POST" th:action="@{/adduser}" th:object="${user}">
            <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Błędy formularza.
        </span>
            </div>
            <label for="username">Nazwa użytkownika: </label>
            <input type="text" th:field="*{username}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}">Błąd
    </span>
            <span class="validationError"
                  th:if="${userExists}">Użytkownik o podanej nazwie już istnieje
    </span>
            <br>
            <label for="password">Hasło: </label>
            <input type="password" th:field="*{password}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}">Błąd
    </span>
            <br>
            <label for="firstname">Imię: </label>
            <input type="text" th:field="*{firstname}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('firstname')}"
                  th:errors="*{firstname}">Błąd
    </span>
            <br>
            <label for="lastname">Nazwisko: </label>
            <input type="text" th:field="*{lastname}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('lastname')}"
                  th:errors="*{lastname}">Błąd
    </span>
            <br>
            <label for="phoneNumber">Numer telefonu: </label>
            <input type="text" th:field="*{phoneNumber}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('phoneNumber')}"
                  th:errors="*{phoneNumber}">Błąd
    </span>
            <br>
            <label for="pesel">Numer PESEL: </label>
            <input type="text" th:field="*{pesel}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('pesel')}"
                  th:errors="*{pesel}">Błąd
    </span>
            <br>
            <label for="address-country">Kraj: </label>
            <input type="text" th:field="*{address.country}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('address.country')}"
                  th:errors="*{address.country}">Błąd
    </span>
            <br>
            <label for="address-city">Miejscowość: </label>
            <input type="text" th:field="*{address.city}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('address.city')}"
                  th:errors="*{address.city}">Błąd
    </span>
            <br>
            <label for="address-streetName">Ulica: </label>
            <input type="text" th:field="*{address.streetName}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('address.streetName')}"
                  th:errors="*{address.streetName}">Błąd
    </span>
            <br>
            <label for="address-streetNumber">Numer ulicy: </label>
            <input type="text" th:field="*{address.streetNumber}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('address.streetNumber')}"
                  th:errors="*{address.streetNumber}">Błąd
    </span>
            <br>
            <label for="address-apartmentNumber">Numer mieszkania: </label>
            <input type="text" th:field="*{address.apartmentNumber}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('address.apartmentNumber')}"
                  th:errors="*{address.apartmentNumber}">Błąd
    </span>
            <br>
            <label for="address-postalCode">Kod pocztowy: </label>
            <input type="text" th:field="*{address.postalCode}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('address.postalCode')}"
                  th:errors="*{address.postalCode}">Błąd
    </span>
            <br>
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>
</body>
</html>