<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
  <meta charset="UTF-8">
  <title>Użytkownicy</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="main">
  <div id="header" th:replace="fragments/layout :: header"></div>
  <div id="menu" th:replace="fragments/layout :: menu"></div>
  <div id="content">
    <ul th:each="user : ${userList}">
      <li th:object="${user}">
        <span th:text="*{username}"></span>,
        <span th:text="*{firstname}"></span>,
        <span th:text="*{lastname}"></span>,
        <span th:text="*{address.country}"></span>,
        <span th:text="*{address.city}"></span>,
        <span th:text="*{address.streetName}"></span>,
        <span th:text="*{address.streetNumber}"></span>,
        <span th:text="*{address.postalCode}"></span>,
        <form th:action="@{/adminpage/deleteuser(id=*{id})}" method="post">
          <input type="submit" value="Usuń użytkownika">
        </form>
      </li>
    </ul>
  </div>
</div>
</body>
</html>