<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
  <meta charset="UTF-8">
  <title>Book an Item</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="main">
  <div id="header" th:replace="fragments/layout :: header"></div>
  <div id="menu" th:replace="fragments/layout :: menu"></div>
  <div id="content">
    <span class="validationError" th:text="${errorMessage}"></span><br>
    Rezerwujesz <span th:text="${bookedItem.name}"></span> za <span th:text="${bookedItem.price}"></span>zł.
    <br />
    <form method="POST" th:action="@{${action}}" th:object="${bookedItem}">
      <label for="reservedFrom">Początek rezerwacji</label>
      <input type="date" th:field="*{reservedFrom}" th:min="*{minReservedString()}"/>
      <label for="reservedTo">Koniec rezerwacji</label>
      <input type="date" th:field="*{reservedTo}" th:min="*{minReservedString()}"/>
      <input type="submit" value="Zarezerwuj" />
    </form>
  </div>
</div>
</body>
</html>