<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
  <meta charset="UTF-8">
  <title>Odmowa dostępu</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="main">
  <div id="header" th:replace="fragments/layout :: header"></div>
  <div id="menu" th:replace="fragments/layout :: menu"></div>
  <div id="content">
    Brak dostępu do danego zasobu
    <br>
    <span th:text="${errorMessage}">
      error message
    </span>
    <br>
    <a th:href="@{/}">Wróć do strony głównej</a>
  </div>
</div>
</body>
</html>