<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div id="menu">
        <ul>
            <li>
                <a href="/adduser">Dodaj użytkownika</a>
            </li>
        </ul>
        <ul>
            <li>
                <a th:href="@{/adduser}">Dodaj użytkownika</a>
            </li>
        </ul>
    </div>
    <ul th:each="user : ${userList}">
        <li th:object="${user}">
            <span th:text="*{username}"></span>,
            <span th:text="*{firstname}"></span>,
            <span th:text="*{lastname}"></span>,
            <span th:text="*{address.country}"></span>,
            <span th:text="*{address.city}"></span>,
            <span th:text="*{address.streetName}"></span>,
            <span th:text="*{address.streetNumber}"></span>,
            <span th:text="*{address.postalCode}"></span>,
        </li>
    </ul>
</body>
</html>