<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="main">
  <div id="header" th:replace="fragments/layout :: header"></div>
  <div id="menu" th:replace="fragments/layout :: menu"></div>
  <div id="content">
    <ul th:each="item : ${itemList}">
      <li th:object="${item}">
        <span th:text="*{itemtype.typeName}"></span>,
        <span th:text="*{name}"></span>,
        <span th:text="*{price}"></span>,
        <span th:text="*{reservedFrom}?: 'Brak rezerwacji'"></span>,
        <span th:text="*{reservedTo}?: 'Brak rezerwacji'"></span>,
        <span th:text="*{reservedBy != null} ? *{reservedBy.username} : 'Brak rezerwacji'"></span>,
        <span th:text="*{available()}"></span>
        <a th:if="*{available()}" th:href="@{/bookitem(id=*{id})}">Zarezerwuj</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>