<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="main">
    <div id="header" th:replace="fragments/layout :: header"></div>
    <div id="menu" th:replace="fragments/layout :: menu"></div>
    <div id="content">
        <form name="f" th:action="@{/login}" method="post">
            <fieldset>
                <legend>Zaloguj się</legend>
                <div th:if="${param.error}" class="alert alert-error">
                    Niepoprawna nazwa użytkownika lub hasło.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    Zostałeś wylogowany.
                </div>
                <div th:if="${param.continue}" class="alert alert-success">
                    Zostałeś zalogowany.
                </div>
                <label for="username">Nazwa użytkownika</label>
                <input type="text" id="username" name="username"/>
                <label for="password">Hasło</label>
                <input type="password" id="password" name="password"/>
                <div class="form-actions">
                    <button type="submit" class="btn">Zaloguj się</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>